
<h1>Projects</h1>
	<ul>
	<% @projects.each do |project| %>
		<li>
			<%= link_to(project.name_with_description,project_entries_path(project))%>
			<%= link_to("Show",project_path(project))%>
		</li>
	
	<% end %>
	</ul>
